/*------------------------------------------Navbar---------------------------------------------------------*/
.navbar.navbar-light .breadcrumb .nav-item.active>.nav-link, .navbar.navbar-light .navbar-nav .nav-item.active>.nav-link{
    background-color: transparent;
}
/*#ee6e73*/
nav {
    background-color: transparent;
    z-index: 99999999;
    position: relative;
    box-shadow: none;
}

.fixed-top.scrolled {
  background-color: #FFC51B;
  background-color: #e52b34;
  transition: background-color 200ms linear;
  /*height: 3.5rem;*/
  transition: 0.4s;
}
.affix {
  padding-top: 0.2em !important;
  padding-bottom: 0.2em !important;
  -webkit-transition:padding 0.2s linear;
  -moz-transition:padding 0.2s linear;  
  -o-transition:padding 0.2s linear;         
  transition:padding 0.2s linear;  
}
.scrolled ul a{
  color: #fff;
}
nav .brand-logo {
    padding: 0rem 1rem;
}
.navbar-brand, .navbar .navbar-collapse ul li a, .navbar-brand:hover{
  color:#fff;
}
.navbarContainer{
    height: 3.2rem;;
}
.auth-options li {
  float: left;
  padding: 1rem 0rem;
  text-align: left;
}
.navbarStyle{
    position: fixed !important;
    width: 100%;
    margin-top: -0.4rem; 
    z-index: 9;
}

.navbarSite{
    /* background-color: #FFFFFF; */
    height: 50px;
    width: 100%;
    position: fixed; 
    z-index: 3;   
    display: flex;
}
.logo{
    margin-left: 20px;
}


.logo img{
    max-width: 90px;
    max-height: 90px;
}
button.navbar-toggler.navbar-toggler-right {
  border-color: #fff;
}
.navbar-toggler-icon {
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAQAAADZc7J/AAAABGdBTUEAALGPC/xhBQAAACBjSFJNAAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAAAAmJLR0QAAKqNIzIAAAAJcEhZcwAADsQAAA7EAZUrDhsAAAAHdElNRQfkCQENEBJFDgZqAAAAj0lEQVRIx+2UPQrCYBBE337RWkQQLOw8gqWgV7DwkmlSi40KniKljUIauwR/xjvsxkL4Xv+YmS0WMqYNOwZO+0VpapgECjSJc2jByUAjklP/2CMUn+kJ04yV2xYXU80iUKBOdKEFrWnMmqFTf3IMxWd6wlQw9z8UruigCHvTnWlgwc20ZEvh1N9UPz7xX/AFbB1d+1EbKbMAAAAldEVYdGRhdGU6Y3JlYXRlADIwMjAtMDktMDFUMTM6MTY6MTgrMDA6MDBvpwZ4AAAAJXRFWHRkYXRlOm1vZGlmeQAyMDIwLTA5LTAxVDEzOjE2OjE4KzAwOjAwHvq+xAAAABl0RVh0U29mdHdhcmUAd3d3Lmlua3NjYXBlLm9yZ5vuPBoAAAAASUVORK5CYII=);
  width: 25px;
  height: 30px;
}
.collapse.show {
  background-color: #FFC51B;
  background-color: #e52b34;
}
nav.show ul li:hover {
  background: #292929;
  background: #1a1a1a;
  border: 1px solid #e52b34;
  text-decoration: none;
}
.navbar-collapse ul li:hover a {
  text-decoration: none;
}
button:focus {
  background-color: transparent;
}
.navbar-space-top {
    padding: 0rem 1rem;
    line-height: 0;
    background-color: #e52b34;
}

nav ul li:hover {
  background: transparent;
  color:#e52b34;
}
nav ul a:hover {
  color:#fff;
}
.btn-ecommarce{
  background-color:#e52b34 !important;
  color:#fff !important;
}
.form h2 {
  margin-bottom: 2rem;
}
.btn-success{
  color: #fff !important;
  background-color: #28a745 !important;
  border-color: #28a745 !important;
}
.btn-danger{
  color: #fff !important;
  background-color: #dc3545 !important;
  border-color: #dc3545 !important;
}
.ui.cards {
  justify-content: center;
}
.card-header {
  min-height: 350px;
}
.card-header {
  background-color: transparent;
  border-bottom: 0px solid rgba(0,0,0,.125);
}

/*-----------------------------------------Footer------------------------------------------*/
.footer{
  padding: 3rem 0;
  background: #292929;
  background: #1a1a1a;
  padding-bottom: 4rem;
}
.footer-container {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}
.footer-top-container{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  box-sizing: border-box;
  justify-content: center;
}
.footer-top-container ul h5{
  font-size: 1.0625rem;
  line-height: 1.55em;
  color: #FFF;
  text-align: center;
}
.footer-grid {
  padding: 0rem 1rem;
  flex-grow: 0;
  max-width: 33.333333%;
  flex-basis: 33.333333%;
  line-height: 1.4rem;
}
.footer-grid h5{
  color: #fff;
    font-weight: 700;
    margin-bottom: 15px;
}
.footer-grid p{
  color: #999;
}
.social {
  display: flex;
}
.social i {
  font-size: 20px;
  color: #fff;
  padding-right: 10px;
  line-height: 2.5rem;
}
.insta-image img{
    float: left;
    width: 20%;
    margin-right: 5%;
    margin-bottom: 5%;
    border-radius: 6px;
}
hr {
  width: 90%;
  border-color: rgba(255, 255, 255,0.2);
}
.footer-bottom-container {
  display: list-item;
  text-align: center;
  justify-content: center;
  position: relative;
  padding: 0rem 2rem;
}
.MuiList-padding {
  padding-top: 0px !important;
  padding-bottom: 0px !important;
}

.footer-bottom-container ul {
  float: right;
}
.footer-bottom-container p {
  color: #fff;
  float: left;
  line-height: 3rem;
}
li.MuiListItem-root.MuiListItem-gutters a {
    color: #fff;
}

.footer-bottom-right{
  float: right;

}
.footer-bottom-right li {
  position: relative;
  top: 0rem;
}
.MuiListItem-root {
  padding-bottom: 0px!important;
}

.social-icon a {
  border-radius: 8%;
  width: 2.5rem;
  height: 2.5rem;
  padding: 0.6rem;
  margin: 0rem 0.2rem;
  font-size: 1.5rem;
}
.blogger{
  background-color:#f57d00
}
.facebook{
  background-color:#3B5998;
  padding-left: 1rem !important;
}
.github{
  background-color:#00405d
}
.google{
  background-color:#dd4b39
}
.linkedin{
  background-color:#007bb6
}
.footer-copyright {
  color: #e52b34;
}

/*----------Form CSS--------------*/
.login-form {
  margin-top: 10rem;
  margin-bottom: 5rem;
}
.register-form{
  margin-top: 10rem;
  margin-bottom: 5rem;
}
.cetegories{
  margin-top: 10rem;
  margin-bottom: 5rem;
}
.AddProduct{
  margin-top: 8rem;
  margin-bottom: 5rem;
}
.Cetegories{
  position: relative;
  top: 14rem;
  color: #fff;
  text-align: center;
}
.About{
  position: relative;
  color: #fff;
  text-align: center;
  bottom: 4rem;
}
.about-image {
  padding: 0rem 3rem;
}
.about-text-content{
  color: #191919;
  text-align: left;
  padding: 2rem 4rem;
}
.about-text-content h3 {
  font-weight: bold;
  font-size: 2.3rem;
  margin-bottom: 1rem;
}
.about-text-content p {
  font-size: 1.1rem;
}
.Profile{
  position: relative;
  top: 14rem;
  color: #fff;
  text-align: center;
}
.margin-zero{
  margin: 0;
}

/*----------------------------------------Other--------------------------------------------------*/
html, body{
  line-height: 0;
}
.space-5{
    margin: 5rem 0rem;
}
.btn-froly{
    background:#FFC51B;
    background: #e52b34;
    color:#fff
}
.justify{
  justify-content: center;
}

.backgroundAddImage{
  background: url(/static/media/temp_banner.b8875b93.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: auto;
}
.bannerImg{
  width: 100%;
  height: auto;
  position: relative;
  top: -4rem;
}
.ui.form input[type=file] {
  border: none;
  border-color: transparent;
  background: dodgerblue;
  color: #fff;
  width: 36%;
  float: left;
}
.file-width{
  width: 100%;
  float: right;
}
th {
  line-height: 1.4rem;
}
td {
  line-height: 1.6rem;
}
.ui.grid {
  justify-content: center;
}
.searchProduct {
  width: 100%;
    margin-bottom: 8rem;
    display: flex;
    justify-content: center;
}
.searchbar-width {
  width: 60% !important;
}
.price {
  margin-bottom: 1rem !important;
}
.ProductName {
  margin-top: 0.5rem;
  margin-top: 0.5rem;
    padding: 0rem 0rem;
}
.ui.pagination.menu {
  margin-top: 2rem;
}
.ui.pagination.menu .active.item {
  background: #e52b34;
  color: #fff;
}
.InfiniteCarouselArrow:focus {
  outline: 0px auto #e52b34;
}
div#ContactUs {
  margin: 3rem 0rem;
}
.scroll-to-top {
  position: fixed;
  bottom: 0;
  color: #fff;
  right: 0;
  cursor: pointer;
}

.scroll-to-top i {
  padding-top: 0.5rem;
    font-size: 1.5rem;
    border-radius: 8%;
    background: #e52b34;
    width: 3rem;
    height: 3rem;
}
/*------------Slider---------------*/

  .slider-wrapper {
    position: relative;
    height: 100vh;
    overflow: hidden;
    top: -4.3rem;
  }
  
  .slide {
    height: 100vh;
    background-size: cover !important;
  }
  
  .slide::before {
      content: '';
      display: block;
      position: absolute;
      width: 100%;
      height: 100%;
      background: -webkit-gradient(linear, left top, left bottom, from(transparent), to(rgba(0, 0, 0, 0.9)));
      background: linear-gradient(transparent, rgba(0, 0, 0, 0.9));
      bottom: 0;
      left: 0;
  }
  
  .previousButton {
          position: absolute;
          top: 50%;
          z-index: 10;
          background: url('../images/slider/previous.png') no-repeat center center / 16px;
          width: 32px;
          height: 32px;
          text-indent: -9999px;
          cursor: pointer;
  }
  .nextButton {
    position: absolute;
    top: 50%;
    z-index: 10;
    background: url('../images/slider/next.png') no-repeat center center / 16px;
    width: 32px;
    height: 32px;
    text-indent: -9999px;
    cursor: pointer;
}
  

  .previousButton {
    left: 0;
  }
  
  .previousButton:hover {
    left: -10px;
  }
  
  .nextButton {
    right: 0;
  }
  
  .nextButton:hover {
    right: -10px;
  }
  
  .slider-content {
    text-align: center;
  }
  
  .slider-content .inner {
    padding: 0 70px;
    box-sizing: border-box;
    position: absolute;
    width: 100%;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    margin-top: 2rem;
  }
  
  .slider-content .inner button{
    -webkit-transition-delay: 0s;
            transition-delay: 0s;
  }
  
  .slider-content .inner h1 {
    font-weight: 900;
    margin: 0 auto;
    max-width: 840px;
    color: #FFFFFF;
    font-size: 64px;
    line-height: 1;
  }
  
  .slider-content .inner p {
    color: #FFFFFF;
    font-size: 14px;
    line-height: 1.5;
    margin: 20px auto 30px;
    max-width: 100%;
    width: 80%;
  }
  
  .slider-content section {
    position: absolute;
    bottom: 20px;
    left: 20px;
  }
  
  .slider-content section span {
    color: #FFFFFF;
  }
  
  .slider-content section span {
    color: rgba(255, 255, 255, 0.5);
    font-size: 12px;
    display: inline-block;
    text-align: left;
    line-height: 1.4;
    vertical-align: middle;
    margin-left: 10px;
  }
  
  .slider-content section img {
    width: 40px;
    height: 40px;
    border: solid 2px rgba(255, 255, 255, 0.5);
    border-radius: 100%;
    vertical-align: middle;
  }
  
  .slider-content section span strong {
    color: #FFFFFF;
    font-size: 14px;
    display: block;
  }
  
/*-------Conatact Us---------*/
.form--title {
  margin-bottom: 2rem;
}


  @media (max-height: 500px) {
    .slider-wrapper, .slide {
      height: calc(100vh);
    }    
  }
  
  @media (max-width: 640px) {
    .slider-wrapper, .slide {
      height: calc(100vh);
    }    
  }
  
  @media (max-height: 600px) {
    .slider-content .inner h1 {
      font-size: 32px;
    }    
  }
  
  @media (max-width: 640px) {
    .slider-content .inner h1 {
      font-size: 32px;
    }
  }
  
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {

}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {

}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  
}

  @media only screen and (max-width: 767px)
  {
.ui.table:not(.unstackable) tbody, .ui.table:not(.unstackable) tr, .ui.table:not(.unstackable) tr > td, .ui.table:not(.unstackable) tr > th {
    width: 100% !important;
}
.ui.table:not(.unstackable) tr {
  display: flex !important;
}
  }